// Fonts
$font-title: Panton, 'Helvetica Neue', Arial, sans-serif;
$font-text: Panton, 'Helvetica Neue', Arial, sans-serif;

// Colors
$white: #FFFFFF;
$black: #000000;
$grey: #353C44;
$grey-light: #6D747D;
$grey-lighter: #A3AEBA;
$grey-lightest: #F5F5F5;
$orange: #ED5413;
$orange-light: #ED5413;
$orange-lighter: #ED5413;

$primary: $orange;
$secondary: $grey;

$red: #FF5555;

// Other
$test: 1px solid $red;